<div class="hotel-left">
  <p-galleria [images]="images" [showCaption]="true" [autoPlay]="false" [frameWidth]="95" [frameHeight]="63"></p-galleria>
</div>
<div class="hotel-right">
  <div class="hotel-right-block">
    <div class="first-small">Бутик</div>
    <div class="name-hotel">
      <div class="name">Crocus Park</div>
      <img src="../../assets/hotel-name-icon.svg" alt="" class="hotel-name-icon">
      <div class="smart-sale">SMART SALE</div>
    </div>
    <div class="address">
      <img src="../../assets/hotel-point.svg" alt="">
      <div class="address-street">г. Самарканд, ул. Амира Тимура 26</div>
    </div>
    <div class="stars">
      <img src="../../assets/stars.svg" alt="">
    </div>
    <div class="img-info">
      <div class="rate">
        <div class="rate-logo">
          <img src="../../assets/logo.svg" alt="">
        </div>
        <div class="rate-mark">
          9.5
        </div>
      </div>
      <div class="comment">
        <div class="comment-img">
          <img src="../../assets/comment-img.svg" alt="">
        </div>
        <div class="comment-marks">
          <img src="../../assets/marks.svg" alt="">
          <div>36 отзывов</div>
        </div>
      </div>
    </div>
    <div class="all-features">
      <div class="feature">
        <img src="../../assets/wifi.svg" alt="" class="wifi">
        <div>WiFi</div>
      </div>
      <div class="feature">
        <img src="../../assets/pool.svg" alt="">
        <div>Бассейн</div>
      </div>
      <div class="feature">
        <img src="../../assets/cafe.svg" alt="">
        <div>Ресторан</div>
      </div>
      <div class="feature parking">
        <img src="../../assets/parking.svg" alt="">
        <div>Уличная паркова</div>
      </div>
      <div class="feature">
        <img src="../../assets/sauna.svg" alt="">
        <div>Сауна</div>
      </div>
    </div>
    <div class="hotel-text">
      <div class="hotel-text-list">
        <img src="../../assets/person.svg" alt="" class="person">
        <div>
          4-х местный номер с кроватями
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/breakfeast.svg" alt="">
        <div>
          Завтрак включен
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/no-card.svg" alt="">
        <div>
          Возможно бронирование без кредитной карты
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/back.svg" alt="">
        <div>
          Бесплатная отмена брони
        </div>
      </div>
    </div>
    <div class="right-block-bottom">
      <div class="block-bottom-discount">
        <img src="../../assets/discount.svg" alt="">
      </div>
      <div class="block-bottom-price">
        <div class="one-night">за 1 ночь</div>
        <div class="price">450 000 UZS</div>
      </div>
    </div>
  </div>
</div>
