<div class="price">
  <div class="price-head">
    <div class="head-include">
      <p>В стоимость входят</p>
      <p>тур. сбор (5%) и НДС (10%)</p>
    </div>
    <div class="head-number">
      <p>Номер договора</p>
      <p>№ 12</p>
    </div>
    <div class="head-date">
      <p>Создан</p>
      <p>12.01.2019</p>
    </div>
    <div class="head-status">
      <p>Статус</p>
      <p>Подписан</p>
    </div>
  </div>
  <div class="price-main">
    <div class="price-main-left">
      <p class="top-season">Сезон</p>
      <p class="top-percent">+30%</p>
      <p class="may">Май</p>
      <p class="june">Июнь</p>
      <p class="july">Июль</p>
      <p class="august">Август</p>
    </div>
    <div class="price-main-right">
      <div class="right-top">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">трехместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-middle">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">двухместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-bottom">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">одноместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="price-main">
    <div class="price-main-left">
      <p class="middle-season">Не сезон</p>
      <p class="middle-percent">-30%</p>
      <p class="may">Май</p>
      <p class="june">Июнь</p>
      <p class="july">Июль</p>
      <p class="august">Август</p>
    </div>
    <div class="price-main-right">
      <div class="right-top">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">трехместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-middle">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">двухместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-bottom">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">одноместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="price-main">
    <div class="price-main-left">
      <p class="bottom-season">Межсезон</p>
      <p class="bottom-percent">+3%</p>
      <p class="may">Май</p>
      <p class="june">Июнь</p>
      <p class="july">Июль</p>
      <p class="august">Август</p>
    </div>
    <div class="price-main-right">
      <div class="right-top">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">трехместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-middle">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">двухместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
      <div class="right-bottom">
        <div class="standart">
          <div class="person-block">
            <img src="../../assets/person.svg" alt="">
          </div>
          <div class="main-text">
            <p class="standart-text">Стандартный</p>
            <p class="standart-text">одноместный номер</p>
          </div>
        </div>
        <div class="foreigner">
          <p>Иностранцам</p>
          <p>450 000 UZS</p>
        </div>
        <div class="citizen">
          <p>Гражданам Узбекистана</p>
          <p>450 000 UZS</p>
        </div>
      </div>
    </div>
  </div>
</div>
