<div class="my-review-block">
  <div class="hotel-review">
    <div class="hotel-review-left">
      <img src="../../assets/review-hotel-photo.svg" alt="" class="photo-hotel">
      <div class="mark-stars">
        <p class="mark">4.0</p>
        <img src="../../assets/stars.svg" alt="" class="stars">
      </div>
    </div>
    <div class="hotel-review-right">
      <p class="right-hotel-name">Kukaldosh Hotel</p>
      <p class="right-date">4 января 2019 г.</p>
      <img src="../../assets/good-smile.svg" alt="" class="good-smile">
      <p class="good-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
      <img src="../../assets/bad-smile.svg" alt="" class="bad-smile">
      <p class="bad-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
    </div>
  </div>
  <div class="hotel-review">
    <div class="hotel-review-left">
      <img src="../../assets/review-hotel-photo.svg" alt="" class="photo-hotel">
    </div>
    <div class="hotel-review-right">
      <p class="right-hotel-name">Kukaldosh Hotel</p>
      <p class="right-date">4 января 2019 г.</p>
      <div class="on-review">
        <img src="../../assets/red-clock.svg" alt="">
        <p class="on-review-text">На рассмотрении</p>
      </div>
    </div>
  </div>
  <div class="hotel-review">
    <div class="hotel-review-left">
      <img src="../../assets/review-hotel-photo.svg" alt="" class="photo-hotel">
      <div class="mark-stars">
        <p class="mark">4.0</p>
        <img src="../../assets/stars.svg" alt="" class="stars">
      </div>
    </div>
    <div class="hotel-review-right">
      <p class="right-hotel-name">Kukaldosh Hotel</p>
      <p class="right-date">4 января 2019 г.</p>
      <img src="../../assets/good-smile.svg" alt="" class="good-smile">
      <p class="good-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
      <img src="../../assets/bad-smile.svg" alt="" class="bad-smile">
      <p class="bad-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
    </div>
  </div>
  <div class="hotel-review">
    <div class="hotel-review-left">
      <img src="../../assets/review-hotel-photo.svg" alt="" class="photo-hotel">
      <div class="mark-stars">
        <p class="mark">4.0</p>
        <img src="../../assets/stars.svg" alt="" class="stars">
      </div>
    </div>
    <div class="hotel-review-right">
      <p class="right-hotel-name">Kukaldosh Hotel</p>
      <p class="right-date">4 января 2019 г.</p>
      <img src="../../assets/good-smile.svg" alt="" class="good-smile">
      <p class="good-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
      <img src="../../assets/bad-smile.svg" alt="" class="bad-smile">
      <p class="bad-comment">Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable. Just 2 minutes from the Kalon Minaret. They accept visa cards.</p>
    </div>
  </div>
</div>
