<section class="wrapper">
  <div class="block block-img-wrap">
    <!--<img src="../../assets/auth.svg" alt="image">-->
    <div class="logo-wrapper">
    </div>
  </div>
  <div class="block block-form">
    <div class="form-content">
      <p>Восстановление пароля</p>
      <form>
        <div class="form-group">
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input type="email" class="form-control input" id="exampleInputPassword1" placeholder="Email или телефон">
        </div>

        <div class="buttons">
          <a href="#" class="btn"><img src="../../assets/arrow.svg" alt="arrow">Назад</a>
          <button type="submit" class="btn">Восстановить</button>
        </div>


      </form>
    </div>

  </div>
</section>
