<div class="main-accounts">
  <div class="head-accounts">
    <img src="../../assets/blue-arrow-left.svg" alt="">
    <p class="accounts-year">2019</p>
    <img src="../../assets/blue-arrow-right.svg" alt="">
  </div>
  <div class="content-accounts">
    <div class="head-list">
      <div class="head-name">
        <p class="name-of-hotel">Название гостинницы</p>
        <img src="../../assets/arrow-down.svg" alt="">
      </div>
      <p class="head-number-account">Номер счёта</p>
      <p class="head-number-group">Номер группы</p>
      <p class="head-number-booking">Номер брони</p>
      <p class="head-date-in">Дата заезда</p>
      <p class="head-date-out">Дата выезда</p>
      <p class="head-sum">Сумма к оплате</p>
      <p class="head-status">Статус оплаты</p>
    </div>
    <ul class="main-list">
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">12234</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">2 250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">124</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">1 250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">235345</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">23</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">52356</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">5 250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
      <li class="main-list-line">
        <p class="list-name">Kukaldosh</p>
        <p class="list-number-account">12234</p>
        <p class="list-number-group">123654789</p>
        <p class="list-number-booking">210 АК</p>
        <p class="list-date-in">03.02.2019</p>
        <p class="list-date-out">03.02.2019</p>
        <p class="list-sum">2 250 000 000 UZS</p>
        <p class="list-status">оплачен</p>
      </li>
    </ul>
  </div>
</div>
