<div class="document-block">
  <search-city-date></search-city-date>
  <div class="main-document">
    <div class="head-document">
      <p class="head-text">Документы</p>
      <div class="head-buttons">
        <button>
          Сформировать Excel
        </button>
        <button>
          Распечатать
        </button>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel header="Договора">
        <contract></contract>
      </p-tabPanel>
      <p-tabPanel header="Счета">
        <accounts></accounts>
      </p-tabPanel>
      <p-tabPanel header="ЭЦП">
        <ecp></ecp>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
