<section class="wrapper">
  <div class="block block-img-wrap">
    <!--<img src="../../assets/auth.svg" alt="image">-->
    <div class="logo-wrapper">
    </div>
  </div>
  <div class="block block-form">
    <div class="form-content">
      <p>Изменение пароля</p>
      <form>
        <div class="form-group">
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control input" id="exampleInputPassword1" placeholder="Код безопасности">
        </div>
        <div class="form-group">
          <a href="#" class="text-link">Отправить повторно</a>
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control input" id="exampleInputPassword2" placeholder="Введите пароль">
        </div>
        <div class="form-group">
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control input" id="exampleInputPassword3" placeholder="Повторите пароль">
        </div>
        <!--<div class="form-group form-check">-->
          <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--</div>-->

<div class="buttons">
  <a href="#" class="btn"><img src="../../assets/arrow.svg" alt="arrow">Назад</a>
  <button type="submit" class="btn">Изменить</button>
</div>

       
      </form>
    </div>

  </div>
</section>
