<div class="main-print-block">
  <div class="print-buttons">
    <button class="print-button">Распечатать</button>
    <a class="show-map">Показать карту</a>
  </div>
  <div class="main-print">
    <div class="head-main-print">
      <img src="../../assets/print-logo.svg" alt="">
      <p>smartbooking.pro</p>
    </div>
    <div class="name-address-block">
      <div class="ooo-operator">
        <div class="ooo">
          <p class="head-ooo">ООО</p>
          <p class="name-ooo">Travel Time</p>
        </div>
        <div class="operator">
          <p class="head-operator">Тур оператор</p>
          <p class="name-operator">Татьяна Авкатанчук</p>
        </div>
      </div>
      <div class="name-address">
        <div class="name">
          <p class="head-name">Бутик</p>
          <p class="name-name">Crocus Park</p>
        </div>
        <div class="address">
          <p class="head-address">Адрес</p>
          <p class="name-address-top">г. Самарканд</p>
          <p class="name-address-bottom">ул. Амира Тимура 26</p>
        </div>
      </div>
    </div>
    <div class="mark-number-site">
      <div class="mark-phone">
        <div class="mark">
          <div class="head-mark-number-site">Оценка</div>
          <div class="text-mark-number-site">9.5</div>
        </div>
        <div class="phone">
          <div class="head-mark-number-site">Телефон</div>
          <div class="text-mark-number-site">+998 (65) 224 5399</div>
          <div class="text-mark-number-site">+998 (65) 224 5399</div>
        </div>
      </div>
      <div class="number">
        <div class="head-mark-number-site">Номер группы</div>
        <div class="text-mark-number-site">4</div>
      </div>
      <div class="site">
        <div class="head-mark-number-site">Сайт</div>
        <div class="text-mark-number-site">crocuspark.uz</div>
      </div>
    </div>
    <div class="info-about-booking-block">
      <div class="info-about-booking">
        <div class="info-booking-head">
          <p class="info-booking-text">Информация о брони</p>
          <img src="../../assets/edit.svg" alt="" (click)="toggleModalBooking()">
        </div>
        <div class="info-booking-line">
          <div class="line-block">
            <p class="line-head">Номер бронирования</p>
            <p class="line-text">321654987</p>
          </div>
          <div class="line-block">
            <p class="line-head">Дата заезда</p>
            <p class="line-text">30.12.19 (14:00)</p>
          </div>
          <div class="line-block">
            <p class="line-head">Дата выезда</p>
            <p class="line-text">02.01.19 (12:00)</p>
          </div>
        </div>
        <div class="info-booking-line">
          <div class="line-block">
            <p class="line-head">Кол-во ночей</p>
            <p class="line-text">3</p>
          </div>
          <div class="line-block">
            <p class="line-head">Кол-во людей</p>
            <p class="line-text">4</p>
          </div>
          <div class="line-block">
            <p class="line-head">Кол-во номеров</p>
            <p class="line-text">9</p>
          </div>
        </div>
        <div class="info-booking-line last-line">
          <div class="line-block">
            <p class="line-head">Одноместных номеров</p>
            <p class="line-text">2</p>
          </div>
          <div class="line-block">
            <p class="line-head">Двухместных номеров</p>
            <p class="line-text">7</p>
          </div>
          <div class="line-block last-block">
            <p class="line-head">Трехместных номеров</p>
            <p class="line-text">0</p>
          </div>
        </div>
      </div>
      <div class="info-booking-down">
        <p class="sum-head">Сумма брони</p>
        <div class="sum-price">
          <div class="taxes-block">
            <p class="taxes-head">Налоги и сборы</p>
            <p class="taxes-price">37 500 UZS</p>
          </div>
          <p class="all-price">1 550 000 UZS</p>
        </div>
      </div>
    </div>
    <div class="choose-apartment-block">
      <div class="choose-apartment">
        <div class="choose-apartment-head">
          <p class="choose-text">Выбранные номера</p>
          <img src="../../assets/edit.svg" alt="" (click)="toggleModalApartment()">
        </div>
        <div class="choose-apartment-line first-choose-line">
          <div class="left-line">
            <div class="number-type">
              <p class="number-line">1</p>
              <p class="type">Стандартный двухместный номер  <span>(1)</span></p>
            </div>
            <div class="choose-line-bed">
              <div class="line-img-block">
                <img src="../../assets/big-bed.svg" alt="">
              </div>
              <p class="type-of-bed">1 двухспальная кровать</p>
            </div>
            <div class="choose-line-guest">
              <div class="line-img-block">
                <img src="../../assets/person.svg" alt="">
                <img src="../../assets/person.svg" alt="">
              </div>
              <p class="line-guests-count">2 гостя</p>
              <p class="line-guests-name">Имя Фамилия, Имя Фамилия</p>
            </div>
          </div>
          <div class="right-line">
            <p class="price-one-night">Цена за 1 ночь</p>
            <p class="right-line-price">450 000 UZS</p>
            <div class="right-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
        </div>
        <div class="choose-apartment-line">
          <div class="left-line">
            <div class="number-type">
              <p class="number-line">2</p>
              <p class="type">Стандартный двухместный номер  <span>(3)</span></p>
            </div>
            <div class="choose-line-bed">
              <div class="line-img-block">
                <img src="../../assets/big-bed.svg" alt="">
              </div>
              <p class="type-of-bed">1 двухспальная кровать</p>
            </div>
            <div class="choose-line-guest">
              <div class="line-img-block">
                <img src="../../assets/person.svg" alt="">
                <img src="../../assets/person.svg" alt="">
              </div>
              <p class="line-guests-count">2 гостя</p>
              <p class="line-guests-name">Имя Фамилия, Имя Фамилия</p>
            </div>
          </div>
          <div class="right-line">
            <p class="price-one-night">Цена за 1 ночь</p>
            <p class="right-line-price">450 000 UZS</p>
            <div class="right-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
        </div>
        <div class="choose-apartment-line">
          <div class="left-line">
            <div class="number-type">
              <p class="number-line">3</p>
              <p class="type">Стандартный двухместный номер  <span>(1)</span></p>
            </div>
            <div class="choose-line-bed">
              <div class="line-img-block">
                <img src="../../assets/big-bed.svg" alt="">
              </div>
              <p class="type-of-bed">1 двухспальная кровать</p>
            </div>
            <div class="choose-line-guest">
              <div class="line-img-block">
                <img src="../../assets/person.svg" alt="">
                <img src="../../assets/person.svg" alt="">
              </div>
              <p class="line-guests-count">2 гостя</p>
              <p class="line-guests-name">Имя Фамилия, Имя Фамилия</p>
            </div>
          </div>
          <div class="right-line">
            <p class="price-one-night">Цена за 1 ночь</p>
            <p class="right-line-price">450 000 UZS</p>
            <div class="right-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
        </div>
        <div class="choose-apartment-line">
          <div class="left-line">
            <div class="number-type">
              <p class="number-line">4</p>
              <p class="type">Стандартный двухместный номер  <span>(4)</span></p>
            </div>
            <div class="choose-line-bed">
              <div class="line-img-block">
                <img src="../../assets/big-bed.svg" alt="">
              </div>
              <p class="type-of-bed">1 двухспальная кровать</p>
            </div>
            <div class="choose-line-guest">
              <div class="line-img-block">
                <img src="../../assets/person.svg" alt="">
                <img src="../../assets/person.svg" alt="">
              </div>
              <p class="line-guests-count">2 гостя</p>
              <p class="line-guests-name">Имя Фамилия, Имя Фамилия</p>
            </div>
          </div>
          <div class="right-line">
            <p class="price-one-night">Цена за 1 ночь</p>
            <p class="right-line-price">450 000 UZS</p>
            <div class="right-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
        </div>
        <div class="choose-apartment-line">
          <div class="left-line">
            <div class="number-type">
              <p class="number-line">5</p>
              <p class="type">Стандартный двухместный номер  <span>(1)</span></p>
            </div>
            <div class="choose-line-bed">
              <div class="line-img-block">
                <img src="../../assets/big-bed.svg" alt="">
              </div>
              <p class="type-of-bed">1 двухспальная кровать</p>
            </div>
            <div class="choose-line-guest">
              <div class="line-img-block">
                <img src="../../assets/person.svg" alt="">
                <img src="../../assets/person.svg" alt="">
              </div>
              <p class="line-guests-count">2 гостя</p>
              <p class="line-guests-name">Имя Фамилия, Имя Фамилия</p>
            </div>
          </div>
          <div class="right-line">
            <p class="price-one-night">Цена за 1 ночь</p>
            <p class="right-line-price">450 000 UZS</p>
            <div class="right-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="open-modal-booking" class="modal-window-booking" [ngClass]="{'toggleMenuBooking': ifOpenModalBooking}">
    <div class="all-modal-booking">
      <a (click)="toggleModalBooking()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="info-booking-modal">
        <div class="info-booking-modal-left">
          <p class="modal-date-text">Дата заезда</p>
          <div class="modal-date-block">02.01.19 (12:00)</div>
        </div>
        <div class="info-booking-modal-right">
          <p class="modal-date-text">Дата выезда</p>
          <div class="modal-date-block">02.01.19 (12:00)</div>
          <button>Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <div id="open-modal-apartment" class="modal-window-apartment" [ngClass]="{'toggleMenuApartment': ifOpenModalApartment}">
    <div class="all-modal-apartment">
      <a (click)="toggleModalApartment()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="head-modal-apartment">
        <p class="head-apartment-number">1</p>
        <p class="head-apartment-text">Стандартный двухместный номер </p>
        <p class="head-apartment-text-num">(1)</p>
      </div>
      <div class="main-modal-apartment">
        <div class="main-modal-apartment-left">
          <div class="amount">
            <div class="amount-left">
              <p class="amount-text">Кол-во номеров</p>
              <div class="amount-number-block">
                <p class="amount-number">1</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up-grey.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
            <div class="amount-right">
              <p class="amount-text">Кол-во гостей</p>
              <div class="amount-number-block">
                <p class="amount-number">2</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-breakfast-block">
            <img src="../../assets/breakfeast.svg" alt="">
            <p>Завтрак включен</p>
          </div>
        </div>
        <div class="main-modal-apartment-right">
          <p class="name-surname-head">Имя Фамилия гостей</p>
          <input type="text">
          <div class="right-bottom">
            <div class="bottom-left">
              <p>Цена за 1 ночь</p>
              <p>450 000 UZS</p>
            </div>
            <div class="bottom-right">
              <button>Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-modal-apartment">
      <a (click)="toggleModalApartment()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="head-modal-apartment">
        <p class="head-apartment-number">1</p>
        <p class="head-apartment-text">Стандартный двухместный номер </p>
        <p class="head-apartment-text-num">(1)</p>
      </div>
      <div class="main-modal-apartment">
        <div class="main-modal-apartment-left">
          <div class="amount">
            <div class="amount-left">
              <p class="amount-text">Кол-во номеров</p>
              <div class="amount-number-block">
                <p class="amount-number">1</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up-grey.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
            <div class="amount-right">
              <p class="amount-text">Кол-во гостей</p>
              <div class="amount-number-block">
                <p class="amount-number">2</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-breakfast-block">
            <img src="../../assets/breakfeast.svg" alt="">
            <p>Завтрак включен</p>
          </div>
        </div>
        <div class="main-modal-apartment-right">
          <p class="name-surname-head">Имя Фамилия гостей</p>
          <input type="text">
          <div class="right-bottom">
            <div class="bottom-left">
              <p>Цена за 1 ночь</p>
              <p>450 000 UZS</p>
            </div>
            <div class="bottom-right">
              <button>Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-modal-apartment">
      <a (click)="toggleModalApartment()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="head-modal-apartment">
        <p class="head-apartment-number">1</p>
        <p class="head-apartment-text">Стандартный двухместный номер </p>
        <p class="head-apartment-text-num">(1)</p>
      </div>
      <div class="main-modal-apartment">
        <div class="main-modal-apartment-left">
          <div class="amount">
            <div class="amount-left">
              <p class="amount-text">Кол-во номеров</p>
              <div class="amount-number-block">
                <p class="amount-number">1</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up-grey.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
            <div class="amount-right">
              <p class="amount-text">Кол-во гостей</p>
              <div class="amount-number-block">
                <p class="amount-number">2</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-breakfast-block">
            <img src="../../assets/breakfeast.svg" alt="">
            <p>Завтрак включен</p>
          </div>
        </div>
        <div class="main-modal-apartment-right">
          <p class="name-surname-head">Имя Фамилия гостей</p>
          <input type="text">
          <div class="right-bottom">
            <div class="bottom-left">
              <p>Цена за 1 ночь</p>
              <p>450 000 UZS</p>
            </div>
            <div class="bottom-right">
              <button>Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-modal-apartment">
      <a (click)="toggleModalApartment()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="head-modal-apartment">
        <p class="head-apartment-number">1</p>
        <p class="head-apartment-text">Стандартный двухместный номер </p>
        <p class="head-apartment-text-num">(1)</p>
      </div>
      <div class="main-modal-apartment">
        <div class="main-modal-apartment-left">
          <div class="amount">
            <div class="amount-left">
              <p class="amount-text">Кол-во номеров</p>
              <div class="amount-number-block">
                <p class="amount-number">1</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up-grey.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
            <div class="amount-right">
              <p class="amount-text">Кол-во гостей</p>
              <div class="amount-number-block">
                <p class="amount-number">2</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-breakfast-block">
            <img src="../../assets/breakfeast.svg" alt="">
            <p>Завтрак включен</p>
          </div>
        </div>
        <div class="main-modal-apartment-right">
          <p class="name-surname-head">Имя Фамилия гостей</p>
          <input type="text">
          <div class="right-bottom">
            <div class="bottom-left">
              <p>Цена за 1 ночь</p>
              <p>450 000 UZS</p>
            </div>
            <div class="bottom-right">
              <button>Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-modal-apartment">
      <a (click)="toggleModalApartment()" title="Close" class="modal-close"><img src="../../assets/red-close.svg" alt=""></a>
      <div class="head-modal-apartment">
        <p class="head-apartment-number">1</p>
        <p class="head-apartment-text">Стандартный двухместный номер </p>
        <p class="head-apartment-text-num">(1)</p>
      </div>
      <div class="main-modal-apartment">
        <div class="main-modal-apartment-left">
          <div class="amount">
            <div class="amount-left">
              <p class="amount-text">Кол-во номеров</p>
              <div class="amount-number-block">
                <p class="amount-number">1</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up-grey.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
            <div class="amount-right">
              <p class="amount-text">Кол-во гостей</p>
              <div class="amount-number-block">
                <p class="amount-number">2</p>
                <div class="amount-images">
                  <img src="../../assets/arrow-up.svg" alt="">
                  <img src="../../assets/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-breakfast-block">
            <img src="../../assets/breakfeast.svg" alt="">
            <p>Завтрак включен</p>
          </div>
        </div>
        <div class="main-modal-apartment-right">
          <p class="name-surname-head">Имя Фамилия гостей</p>
          <input type="text">
          <div class="right-bottom">
            <div class="bottom-left">
              <p>Цена за 1 ночь</p>
              <p>450 000 UZS</p>
            </div>
            <div class="bottom-right">
              <button>Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="save-changes">Сохранить изменения</button>
  </div>

</div>
