<div class="hotel">
  <div class="hotel-img">
    <img src="../../assets/favorite.svg" alt="" class="favorite">
    <img src="../../assets/plus.svg" alt="" class="plus">
    <img src="../../assets/photo-hotel.svg" alt="" class="photo-hotel">
    <div class="img-info">
      <div class="rate">
        <div class="rate-logo">
          <img src="../../assets/logo.svg" alt="">
        </div>
        <div class="rate-mark">
          9.5
        </div>
      </div>
      <div class="comment">
        <div class="comment-img">
          <img src="../../assets/comment-img.svg" alt="">
        </div>
        <div class="comment-marks">
          <img src="../../assets/marks.svg" alt="">
          <div>36 отзывов</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-name">
      <div class="hotel-name-top">
        <div>
          Crocus Park
        </div>
        <img src="../../assets/hotel-name-icon.svg" alt="">
      </div>
      <div class="hotel-name-bottom">
        <img src="../../assets/stars.svg" alt="" >
      </div>
    </div>
    <div class="hotel-icon">
      <img src="../../assets/hotel-icon.svg" alt="">
    </div>
    <div class="hotel-text">
      <div class="hotel-text-list">
        <img src="../../assets/person.svg" alt="">
        <div>
          4-х местный номер с кроватями
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/breakfeast.svg" alt="">
        <div>
          Завтрак включен
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/no-card.svg" alt="">
        <div>
          Возможно бронирование без кредитной карты
        </div>
      </div>
      <div class="hotel-text-list">
        <img src="../../assets/back.svg" alt="">
        <div>
          Бесплатная отмена брони
        </div>
      </div>
      <div class="hotel-text-list">
        Забронировано 2 раза за последние 6 часов
      </div>
    </div>
  </div>
  <div class="hotel-price">
    <div class="price-for-night">
      <div>450 000 UZS</div>
      <div>за 1 ночь</div>
    </div>
    <div class="smart-sale">
      <div>
        SMART SALE
      </div>
    </div>
    <div class="discount">
      <img src="../../assets/discount.svg" alt="">
    </div>
    <div class="room-left">
      Осталось 2 номера
    </div>
    <div class="button-book">
      <button>Забронировать</button>
    </div>
  </div>
</div>



<div class="hotel-two">
  <div class="hotel-img">
    <img src="../../assets/favorite.svg" alt="" class="favorite">
    <img src="../../assets/plus.svg" alt="" class="plus">
    <img src="../../assets/photo-hotel-two.svg" alt="" class="photo-hotel">
    <div class="img-info">
      <div class="rate">
        <div class="rate-logo">
          <img src="../../assets/logo.svg" alt="">
        </div>
        <div class="rate-mark">
          9.5
        </div>
      </div>
      <div class="comment">
        <div class="comment-img">
          <img src="../../assets/comment-img.svg" alt="">
        </div>
        <div class="comment-marks">
          <img src="../../assets/marks.svg" alt="">
          <div>36 отзывов</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-name">
      <div class="hotel-name-top">
        <div>
          Fairmont Hotels and Resorts
        </div>
      </div>
      <div class="hotel-name-bottom">
        <img src="../../assets/stars.svg" alt="" >
      </div>
    </div>
    <div class="hotel-icon">
      <img src="../../assets/hotel-icon.svg" alt="">
    </div>
    <div class="saled">
      <div class="icon-saled">
        <img src="../../assets/icon-saled.svg" alt="">
      </div>
      <div class="text-saled">
        <div class="top-text-saled">Наш последний номер был продан вчера</div>
        <div class="bottom-text-saled">
          <div>Ваши даты популярны.</div>
          <div>Пожалуйста, посмотрите другие даты</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-price">
    <div class="price-for-night">
      <div>450 000 UZS</div>
      <div>за 1 ночь</div>
    </div>
    <div class="smart-sale">
      <div>
        SMART SALE
      </div>
    </div>
    <div class="button-book">
      <button>Забронировать</button>
    </div>
  </div>
</div>
