<section class="wrapper">
  <div class="block block-img-wrap">
    <div class="logo-wrapper">
    </div>
  </div>
  <div class="block block-form">
    <div class="form-content">
      <p>Авторизация</p>
      <form>
        <div class="form-group">
          <input type="email" class="form-control input green" id="exampleInputPassword1" placeholder="Email">
          <img src="../../assets/green-tick.svg" alt="tick">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input red" id="exampleInputPassword2" placeholder="Пароль">
          <img src="../../assets/red-tick.svg" alt="tick">
        </div>
        <a href="#" class="text-link">Забыли пароль?</a>
        <div class="buttons">
          <a href="#" class="btn">Регистрация</a>
          <button type="submit" class="btn">Войти</button>
        </div>


      </form>
    </div>

  </div>
</section>

