<p class="similar-hotels-text">Похожие гостиницы</p>
<div class="similar-hotels-block">
  <drag-scroll #nav scrollbar-hidden="true">
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt=" class="hotel-photo"">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
    <div  drag-scroll-item class="one-similar-hotel">
      <div class="similar-hotel-main">
        <div class="left-similar-hotel">
          <img src="../../assets/similar-hotel-photo.svg" alt="" class="hotel-photo">
          <div class="left-mark-comment-block">
            <div class="left-mark">9.5</div>
            <div class="left-comment">
              <div class="icon-comment">
                <img src="../../assets/comment-img.svg" alt="" class="comment-img">
                <div class="marks-comments">
                  <img src="../../assets/marks.svg" alt="">
                  <p class="comments">36 отзывов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-similar-hotel">
          <p class="right-hotel-name">Fairmont Hotels and...</p>
          <img src="../../assets/stars.svg" alt="" class="stars">
          <div class="point-city">
            <img src="../../assets/grey-point.svg" alt="">
            <p class="city">г. Бухара</p>
          </div>
          <p class="right-price"><span>от</span> 450 000 UZS</p>
        </div>
      </div>
    </div>
  </drag-scroll>
  <button (click)="moveLeft()" class="moveLeft">
    <img src="../../assets/blue-arrow-left.svg" alt="">
  </button>
  <button (click)="moveRight()" class="moveRight">
    <img src="../../assets/blue-arrow-right.svg" alt="">
  </button>
</div>
<div class="similar-hotels-button">
  <button class="similar-hotels-see-more">Смотреть ещё</button>
</div>


