<!--<div class="similar-hotels-block">-->
  <!--<drag-scroll #nav scrollbar-hidden="true">-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
    <!--<div  drag-scroll-item></div>-->
  <!--</drag-scroll>-->
  <!--<button (click)="moveLeft()">Left</button>-->
  <!--<button (click)="moveRight()">Right</button>-->
<!--</div>-->

