<div class="main-booking-ticket-block">
  <p class="head-main-text">Бронирование</p>
  <div class="ticket-main-content">
    <div class="left-ticket-block">
      <div class="ticket">
        <div class="left-square"></div>
        <div class="right-square"></div>
        <p class="ticket-butik">Бутик</p>
        <p class="ticket-hotel-name">Crocus Park</p>
        <div class="ticket-hotel-address">
          <img src="../../assets/blue-point.svg" alt="">
          <p>г. Самарканд, ул. Амира Тимура 26</p>
        </div>
        <div class="ticket-date-and-days">
          <div class="ticket-date-in">
            <p class="head-little-block">Дата заезда</p>
            <p class="text-little-block">30.12.19</p>
          </div>
          <div class="ticket-date-out">
            <p class="head-little-block">Дата выезда</p>
            <p class="text-little-block">02.01.19</p>
          </div>
          <div class="ticket-days">
            <p class="head-little-block">Кол-во дней</p>
            <p class="text-little-block">3</p>
          </div>
        </div>
        <div class="ticket-people-apartment">
          <div class="ticket-people">
            <p class="head-little-block">Кол-во людей</p>
            <p class="text-little-block">4</p>
          </div>
          <div class="ticket-apartment">
            <p class="head-little-block">Кол-во номеров</p>
            <p class="text-little-block">3</p>
          </div>
        </div>
        <div class="ticket-total-price-block">
          <p class="ticket-sum-text">Сумма брони</p>
          <p class="ticket-sum-total">1 550 000 UZS</p>
        </div>
      </div>
      <div class="ticket-details">
        <p class="details-text">Детали</p>
        <div class="details-apartment">
          <img src="../../assets/red-close.svg" alt="" class="close-icon">
          <div class="description-text-and-edit">
            <p class="details-description-text">Стандартный двухместный номер<span>(1)</span></p>
            <img src="../../assets/edit.svg" alt="">
          </div>
          <div class="details-bed">
            <img src="../../assets/big-bed.svg" alt="">
            <p class="details-bed-text">1 двухспальная кровать</p>
          </div>
          <div class="details-guests-and-names">
            <div class="details-guests">
              <img src="../../assets/person.svg" alt="">
              <img src="../../assets/person.svg" alt="" class="last-person-icon">
              <p class="guests-text">2 гостя</p>
            </div>
            <p class="details-names">Имя Фамилия, Имя Фамилия</p>
          </div>
          <p class="details-price-one-night-text">Цена за 1 ночь</p>
          <div class="details-breakfast-price">
            <div class="details-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p>Завтрак включен</p>
            </div>
            <p class="details-price">450 000 UZS</p>
          </div>
        </div>
        <div class="details-apartment">
          <img src="../../assets/red-close.svg" alt="" class="close-icon">
          <div class="description-text-and-edit">
            <p class="details-description-text">Стандартный одноместный номер<span>(2)</span></p>
            <img src="../../assets/edit.svg" alt="">
          </div>
          <div class="details-bed">
            <img src="../../assets/small-bed.svg" alt="">
            <p class="details-bed-text">1 односпальная кровать</p>
          </div>
          <div class="details-guests-and-names">
            <div class="details-guests">
              <img src="../../assets/person.svg" alt="">
              <p class="one-guest-text">1 гость</p>
            </div>
            <p class="details-names">Имя Фамилия, Имя Фамилия</p>
          </div>
          <p class="details-price-one-night-text">Цена за 1 ночь</p>
          <div class="details-breakfast-price">
            <div class="details-breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p>Завтрак включен</p>
            </div>
            <p class="details-price">450 000 UZS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-ticket-block">
      <p class="enter-data-text">Введите данные</p>
      <div class="inputs-block-top">
        <div class="right-country">
          <p class="input-text">Страна</p>
          <div class="country-input">
            <p>Узбекистан</p>
            <img src="../../assets/arrow-down.svg" alt="">
          </div>
        </div>
        <div class="right-name-tour">
          <p class="input-text">Название Тур фирмы</p>
          <input type="text" class="input-block">
        </div>
      </div>
      <div class="inputs-block-middle">
        <div class="right-group">
          <p class="input-text">Номер группы</p>
          <input type="text" class="input-block">
        </div>
        <div class="right-operator-name">
          <p class="input-text">ФИО Оператора</p>
          <input type="text" placeholder="Фамилия Имя Отчество" class="input-block">
        </div>
      </div>
      <div class="inputs-block-down">
        <div class="right-document">
          <div class="document-block">
            <img src="../../assets/excel.svg" alt="" class="excel">
            <p>Название документа</p>
            <img src="../../assets/red-close.svg" alt="" class="document-close">
          </div>
        </div>
        <div class="right-email">
          <p class="input-text">Адрес электронной почты</p>
          <input type="text" class="input-block">
        </div>
      </div>
      <div class="wishes-block">
        <p class="wish">Особые пожелания</p>
        <textarea type="text" class="wish-input" placeholder="Пожалуйста, напишите свои запросы"></textarea>
        <p class="input-description">Администрация объекта размещения не может гарантировать выполнение особых
          пожеланий, но сделает для этого все возможное</p>
        <div class="wish-toggles">
          <div class="wish-dinner">
            <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            <p class="wish-toggle-description">Заказать ужин</p>
          </div>
          <div class="wish-guide">
            <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
            <p class="wish-toggle-description">Услуги гида</p>
          </div>
        </div>
      </div>
      <div class="list-and-booking">
        <ul class="right-list">
          <li>Бесплатная отмена брони</li>
          <li>Подтверждение по SMS и на Email</li>
          <li>Предоплата не требуется</li>
          <li>Кредитная карта не требуется</li>
        </ul>
        <button class="right-booking">Забронировать</button>
      </div>
    </div>
  </div>
</div>
