<div class="left-head">
  <div class="left-content">
    <div class="percent">
      <div class="left-line"></div>
      <span>45%</span>
    </div>
    <div class="left-text">
      <div>Отели в Самарканде</div>
      <div>Доступно 12 из 36 отелей на выбранные даты</div>
    </div>
  </div>
  <div class="left-filter">
    <div class="filter">
      <div>
        Рекомендуемые
      </div>
      <fa name="angle-down"></fa>
    </div>
    <div class="filter">
      <div>
        Оценка
      </div>
      <fa name="angle-down"></fa>
    </div>
    <div class="filter">
      <div>
        Кол-во звёзд
      </div>
      <fa name="angle-down"></fa>
    </div>
    <div class="filter">
      <div>
        По возрастанию цены
      </div>
      <fa name="angle-down"></fa>
    </div>
  </div>
</div>
<div class="right-head">
  <a href="#open-modal" class="right-button">
    <img src="../../assets/filter.svg" alt="">
    <div>Другие Фильтры</div>
  </a>
  <div class="right-button">
    <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
    <div>Поиск по карте</div>
  </div>
</div>

<div id="open-modal" class="modal-window">
  <div class="all-modal">
    <a href="#" title="Close" class="modal-close"><img src="../../assets/close.svg" alt=""></a>
    <div class="modal-top">
      <div class="modal-top-left">
        <div class="modal-top-text">Фильтр по цене (UZS)</div>
        <div class="modal-img">
          <img src="../../assets/modal-filter-left.svg" alt="">
        </div>
        <div class="from-to">
          <div class="from">
            <div class="from-to-number">100 000</div>
          </div>
          <div class="to">
            <div class="from-to-number">250 000</div>
          </div>
        </div>
      </div>
      <div class="modal-top-right">
        <div class="modal-top-text">Оценка</div>
        <div class="modal-img">
          <img src="../../assets/modal-filter-right.svg" alt="">
        </div>
        <div class="from-to">
          <div class="from">
            <div class="from-to-number">7.5</div>
          </div>
          <div class="to">
            <div class="from-to-number">10</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-bottom">
      <div class="modal-bottom-first">
        <div class="modal-bottom-header">Тип размещения</div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Хостел</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Отель</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Бутик отель</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Мотель</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Постель и завтрак</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Гостевой дом</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Курортная зона</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Курортный отель</div>
        </div>
      </div>
      <div class="modal-bottom-second">
        <div class="modal-bottom-header">Удобства отеля</div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>WiFi</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Ресторан</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Бассейн</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Сауна</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Фитнес-центр</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Детский клуб</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Детская игровая</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Конференц-зал</div>
        </div>
      </div>
      <div class="modal-bottom-third">
        <div class="modal-bottom-header"></div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Семейные номера</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Уличная парковка</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Оплата Master Card</div>
        </div>
        <div class="modal-bottom-list">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="checked" [disabled]="disabled"></mat-slide-toggle>
          <div>Оплата Visa Card</div>
        </div>
      </div>
    </div>
    <div class="bottom-block-button">
      <button class="button-done">Готово</button>
    </div>
  </div>
</div>
