<div class="contract-main">
  <div class="head-contract">
    <p class="head-number">№</p>
    <p class="head-hotel">Гостинница</p>
    <p class="head-city">Город</p>
    <p class="head-status">Статус</p>
    <p class="head-contract-in">Договор</p>
    <p class="head-date">Дата заключения</p>
  </div>
  <ul class="contract-list">
    <li class="list-line">
      <p class="list-number">1</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status">Заключен</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
    <li class="list-line">
      <p class="list-number">2</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status">Заключен</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
    <li class="list-line">
      <p class="list-number">3</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status">Заключен</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
    <li class="list-line active-line">
      <p class="list-number">4</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status send-request">Отправить заявку на заключение</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
    <li class="list-line">
      <p class="list-number">5</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status">Заключен</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
    <li class="list-line">
      <p class="list-number">6</p>
      <p class="list-hotel">Kukaldosh</p>
      <p class="list-city">Бухара</p>
      <p class="list-status">Заключен</p>
      <p class="list-contract-in">253/5</p>
      <p class="list-date">03.02.2019</p>
    </li>
  </ul>
</div>
