<div class="reviews">
  <div class="review-block-img">
    <img src="../../assets/hotel-review.svg" alt="" class="review-img">
  </div>
 <div class="num-review">
   126 отзывов
 </div>
  <div class="comment">
    <div class="comment-top">
      <div class="comment-top-left">
        <div class="comment-avatar">
          <img src="../../assets/avatar.svg" alt="">
        </div>
        <div class="comment-name-country">
          <div class="comment-name">
            Daren
          </div>
          <div class="comment-country">
            <div class="country-flag">
              <img src="../../assets/flag.svg" alt="">
            </div>
            <div class="country-name">
              Узбекистан
            </div>
          </div>
        </div>
      </div>
      <div class="comment-top-right">
        <div class="rate-mark">
          9.5
        </div>
      </div>
    </div>
    <div class="comment-bottom">
      <div class="comment-date">
        4 января 2019 г.
      </div>
      <div class="comment-text">
        Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable.
        Just 2 minutes from the Kalon Minaret. They accept visa cards.
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="comment-top">
      <div class="comment-top-left">
        <div class="comment-avatar">
          <img src="../../assets/no-avatar.svg" alt="">
        </div>
        <div class="comment-name-country">
          <div class="comment-name">
            Daren
          </div>
          <div class="comment-country">
            <div class="country-flag">
              <img src="../../assets/flag.svg" alt="">
            </div>
            <div class="country-name">
              Узбекистан
            </div>
          </div>
        </div>
      </div>
      <div class="comment-top-right">
        <div class="rate-mark">
          9.5
        </div>
      </div>
    </div>
    <div class="comment-bottom">
      <div class="comment-date">
        4 января 2019 г.
      </div>
      <div class="comment-text">
        Very friendly staff, the room was large with a very comfortable double bed and good breakfast.
        It was easy to find and close to the centre. What made our stay very special also was the walking tour
        Ramses gave us in his spare time, including locations not easily visited by tourists. Very generous
        thank you, we would stay again.
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="comment-top">
      <div class="comment-top-left">
        <div class="comment-avatar">
          <img src="../../assets/no-avatar.svg" alt="">
        </div>
        <div class="comment-name-country">
          <div class="comment-name">
            Daren
          </div>
          <div class="comment-country">
            <div class="country-flag">
              <img src="../../assets/flag.svg" alt="">
            </div>
            <div class="country-name">
              Узбекистан
            </div>
          </div>
        </div>
      </div>
      <div class="comment-top-right">
        <div class="rate-mark">
          9.5
        </div>
      </div>
    </div>
    <div class="comment-bottom">
      <div class="comment-date">
        4 января 2019 г.
      </div>
      <div class="comment-text">
        Amazing staff, absolutely perfect location, huge breakfast, very clean, very calm and comfortable.
        Just 2 minutes from the Kalon Minaret. They accept visa cards.
      </div>
    </div>
  </div>
  <div class="comment last-comment">
    <div class="comment-top">
      <div class="comment-top-left">
        <div class="comment-avatar">
          <img src="../../assets/no-avatar.svg" alt="">
        </div>
        <div class="comment-name-country">
          <div class="comment-name">
            Daren
          </div>
          <div class="comment-country">
            <div class="country-flag">
              <img src="../../assets/flag.svg" alt="">
            </div>
            <div class="country-name">
              Узбекистан
            </div>
          </div>
        </div>
      </div>
      <div class="comment-top-right">
        <div class="rate-mark">
          9.5
        </div>
      </div>
    </div>
    <div class="comment-bottom">
      <div class="comment-date">
        4 января 2019 г.
      </div>
      <div class="comment-text">
        Very friendly staff, the room was large with a very comfortable double bed and good breakfast.
        It was easy to find and close to the centre. What made our stay very special also was the walking tour
        Ramses gave us in his spare time, including locations not easily visited by tourists. Very generous
        thank you, we would stay again.
      </div>
    </div>
  </div>
  <button class="load-more">Загрузить ещё</button>
</div>
