<p class="month">
  <span><img src="../../assets/blue-arrow-left.svg" alt=""></span>

  Январь
  <span><img src="../../assets/blue-arrow-right.svg" alt=""></span>

</p>
<section class="calendar-wrapper">
  <div class="row-head">
    <div class="col">Пн</div>
    <div class="col">Вт</div>
    <div class="col">Ср</div>
    <div class="col">Чт</div>
    <div class="col">Пт</div>
    <div class="col color-green">Сб</div>
    <div class="col color-green">Вс</div>
  </div>
  <div class="row">
    <div class="col-wrap grey"><span class="date-index grey">31</span>
      <div class="col grey red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index green">1</span>
      <div class="col green">6
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">2</span>
      <div class="col">2
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">3</span>
      <div class="col yellow-num">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index yellow">4</span>
      <div class="col yellow">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">5</span>
      <div class="col light-green">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">6</span>
      <div class="col light-green">4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-wrap"><span class="date-index">7</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">8</span>
      <div class="col pagination">3
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">9</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">10</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">11</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">12</span>
      <div class="col light-green">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">13</span>
      <div class="col light-green">4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-wrap"><span class="date-index">14</span>
      <div class="col yellow-num">5
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">15</span>
      <div class="col yellow-num">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">16</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">17</span>
      <div class="col">6
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">18</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">19</span>
      <div class="col pagination light-green">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index light-green">20</span>
      <div class="col light-green">4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-wrap"><span class="date-index">21</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">22</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">23</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">24</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">25</span>
      <div class="col yellow-num">5
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">26</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">27</span>
      <div class="col">4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-wrap"><span class="date-index">28</span>
      <div class="col">4
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">29</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index green">30</span>
      <div class="col green red-num">−
      </div>
    </div>
    <div class="col-wrap"><span class="date-index">31</span>
      <div class="col red-num">−
      </div>
    </div>
    <div class="col-wrap grey"><span class="date-index grey">1</span>
      <div class="col pagination grey">4
      </div>
    </div>
    <div class="col-wrap grey"><span class="date-index grey">2</span>
      <div class="col grey">4
      </div>
    </div>
    <div class="col-wrap grey"><span class="date-index grey">3</span>
      <div class="col grey">4
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="description-item">
    <p>Свободные номера (21)</p>
    <p>Брони в ожидании (6)</p>
  </div>
  <div class="description-item">
    <p>Нет свободных мест (8)</p>
    <p>Информация о вашей группе (4)</p>
  </div>
  <div class="description-item"><a href="#">Создать бронь</a>
  </div>
</section>
