.print-main-page {
  width: 100%;
  background-color: #F8F9FB;
  head-print {
    background-color: #EEEEEE;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main-print {
    width: 100%;
    background-color: #F8F9FB;
  }
  footer {
    margin-top: 168px;
  }
}
