<div class="main-booking">
  <div class="date-guest">
    <p class="date">
      30.12.19 - 02.01.19
    </p>
    <div class="guest">
      1 номер, 2 гостя
    </div>
    <div class="arrow">
      <fa name="angle-down"></fa>
    </div>
  </div>
  <div class="hotels-and-total">
    <div class="booking-hotels">
      <div class="one-hotel">
        <div class="hotel-image">
          <div class="smart-sale-block">SMART SALE</div>
          <img src="../../assets/booking-hotel-img.svg" alt="">
        </div>
        <div class="hotel-description">
          <div class="description-left">
            <div class="text-block">
              <p class="description-left-text">Стандартный</p>
              <p class="description-left-text">двухместный номер</p>
            </div>
            <div class="bed-block">
              <img src="../../assets/big-bed.svg" alt="">
              <p class="bed-text">1 двухспальная кровать</p>
            </div>
            <div class="guest-block">
              <img src="../../assets/person.svg" alt="">
              <img src="../../assets/person.svg" alt="">
              <p class="guest-text">2 гостя</p>
            </div>
          </div>
          <div class="description-middle">
            <p class="one-night-block">Цена за 1 ночь</p>
            <div class="price-block">
              <p class="old-price">550 000 UZS</p>
              <p class="new-price">450 000 UZS</p>
              <div class="plus-block">
                <p class="plus-text">+ 255 054, 65 UZS</p>
                <img src="../../assets/question-mark.svg" alt="">
              </div>
            </div>
            <div class="breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
          <div class="description-right">
            <p class="choose-apartment">Выберите номера</p>
            <div class="choose-number">
              <p class="number">1</p>
              <div class="arrows">
                <img src="../../assets/arrow-up.svg" alt="">
                <img src="../../assets/arrow-down.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one-hotel-two">
        <div class="hotel-image">
          <img src="../../assets/booking-hotel-img.svg" alt="">
        </div>
        <div class="hotel-description">
          <div class="description-left">
            <div class="text-block">
              <p class="description-left-text">Стандартный</p>
              <p class="description-left-text">одноместный номер</p>
            </div>
            <div class="bed-block">
              <img src="../../assets/small-bed.svg" alt="">
              <p class="bed-text">1 односпальная кровать</p>
            </div>
            <div class="guest-block">
              <img src="../../assets/person.svg" alt="">
              <p class="guest-text">1 гость</p>
            </div>
          </div>
          <div class="description-middle">
            <p class="one-night-block">Цена за 1 ночь</p>
            <div class="price-block">
              <p class="new-price">450 000 UZS</p>
              <div class="plus-block">
                <p class="plus-text">+ 255 054, 65 UZS</p>
                <img src="../../assets/question-mark.svg" alt="">
              </div>
            </div>
            <div class="breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
          <div class="description-right">
            <p class="choose-apartment">Выберите номера</p>
            <div class="choose-number">
              <p class="number">2</p>
              <div class="arrows">
                <img src="../../assets/arrow-up.svg" alt="">
                <img src="../../assets/arrow-down.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one-hotel-three">
        <div class="hotel-image">
          <img src="../../assets/booking-hotel-img.svg" alt="">
        </div>
        <div class="hotel-description">
          <div class="description-left">
            <div class="text-block">
              <p class="description-left-text">Стандартный</p>
              <p class="description-left-text">трёхместный номер</p>
            </div>
            <div class="bed-block">
              <img src="../../assets/big-bed.svg" alt="" class="big-bed">
              <img src="../../assets/small-bed.svg" alt="" class="small-bed">
              <p class="bed-text">двухспальная и односпальная кровать</p>
            </div>
            <div class="guest-block">
              <img src="../../assets/person.svg" alt="">
              <img src="../../assets/person.svg" alt="">
              <img src="../../assets/person.svg" alt="">
              <p class="guest-text">3 гостя</p>
            </div>
          </div>
          <div class="description-middle">
            <p class="one-night-block">Цена за 1 ночь</p>
            <div class="price-block">
              <p class="new-price">450 000 UZS</p>
              <div class="plus-block">
                <p class="plus-text">+ 255 054, 65 UZS</p>
                <img src="../../assets/question-mark.svg" alt="">
              </div>
            </div>
            <div class="breakfast">
              <img src="../../assets/breakfeast.svg" alt="">
              <p class="breakfast-text">Завтрак включен</p>
            </div>
          </div>
          <div class="description-right">
            <p class="choose-apartment">Выберите номера</p>
            <div class="choose-number">
              <p class="number">0</p>
              <div class="arrows">
                <img src="../../assets/arrow-up.svg" alt="">
                <img src="../../assets/arrow-down.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-total">
      <div class="total-top">
        <p class="total-text">Итог</p>
        <p class="total-choose">Выбрано 3 номера</p>
        <p class="total-price">1 550 000 UZS</p>
        <div class="total-plus">
          <p class="total-plus-text">+ 255 054, 65 UZS</p>
          <img src="../../assets/question-mark.svg" alt="">
        </div>
        <div class="total-breakfast">
          <img src="../../assets/breakfeast.svg" alt="">
          <p class="total-breakfast-text">Завтрак включен</p>
        </div>
      </div>
      <div class="total-bottom">
        <ul class="list-features">
          <li>Бесплатная отмена брони</li>
          <li>Подверждение по SMS и на Email</li>
          <li>Предоплата не требуется</li>
          <li>Кредитная карта не требуется</li>
        </ul>
        <button class="total-button">Подтвердить</button>
      </div>
    </div>
  </div>
  <div class="all-features">
    <div class="top-features">
      <div class="feature">
        <p class="header-feature">Технологии</p>
        <ul class="feature-list">
          <li>WiFi</li>
          <li>Телефон</li>
        </ul>
      </div>
      <div class="feature">
        <p class="header-feature">Оздоровительные услуги</p>
        <ul class="feature-list">
          <li>Массаж</li>
        </ul>
      </div>
      <div class="feature">
        <p class="header-feature">Услуги бизнес-центра</p>
        <ul class="feature-list">
          <li>Факс</li>
          <li>Ксерокс</li>
        </ul>
      </div>
    </div>
    <div class="bottom-features">
      <div class="feature">
        <p class="header-feature">Питание и напитки</p>
        <ul class="feature-list">
          <li>Ресторан</li>
          <li>Бар</li>
          <li>Доставка продуктов</li>
          <li>Завтрак в номер</li>
        </ul>
      </div>
      <div class="feature">
        <p class="header-feature">Услуги уборки</p>
        <ul class="feature-list">
          <li>Химчистка (за доп. плату)</li>
          <li>Услуги по глаженью одежды (за доп. плату)</li>
          <li>Прачечная (за доп. плату)</li>
        </ul>
      </div>
      <div class="feature">
        <p class="header-feature">Разное</p>
        <ul class="feature-list">
          <li>Места для курения</li>
          <li>Номера для некурящих</li>
          <li>Кондиционер</li>
          <li>Отопление</li>
        </ul>
      </div>
    </div>
  </div>
</div>
